use flake
export DATABASE_URL="postgres://localhost?dbname=astrobur&user=siri&password=siri&sslmode=disable"
export REDIS_URL="redis://localhost:6379"
export HOST="0.0.0.0"
export PORT="7777"
export DB_HOST=localhost
export DB_PORT=5432
export DB_USERNAME="siri"
export DB_PASSWORD="siri"
export DB_DATABASE="astrobur"
